"*":
  "atom-beautify":
    general:
      _analyticsUserId: "43e38eee-2876-4d7a-a04e-8e55e61a9641"
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "9b671e90-aca1-3b96-cdf2-ba608de89cf6"
  "highlight-selected": {}
  kite:
    showKiteTourOnStatup: false
  linter: {}
  "linter-flake8":
    maxLineLength: 100
  "linter-rubocop":
    executablePath: "/home/soham.roy/.rvm/gems/ruby-2.4.0@"
  "linter-ui-default": {}
  minimap:
    disablePythonDocLinks: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tree-view": {}
  welcome:
    showOnStartup: false
